<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- <div class="row mt-3">
    <div class="col-md-3 m-auto"> -->
<div class ="container">
    <div class ="row">
        <div class ="col-md-3">
            <div class="card">
                <img src="https://images.pexels.com/photos/1070850/pexels-photo-1070850.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top"
                alt="..."height="250px" width="10px"/>
                <!-- <h1><i class="fab fa-node-js ">Yamii Foods </i></h1> -->
                <p>Price 1000 RS  <br>STOCK  avalable</p>
                <a href="" class="btn btn-success ">Buy Now</a> 
              </div>
        </div>
        <div class ="col-md-3" >
            <div class="card" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDRk79QuAhTlna-l2giab_Pb8V0DwnoDBuqg&usqp=CAU"
                alt="..." height="250px" />
               
                <p>Price 1000 RS  <br>STOCK  avalable</p>
                <a href="" class="btn btn-success ">Buy Now</a> 
              </div>

        </div>
        <div class ="col-md-3">
            <div class="card" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0V9AvKHPYBp3SJL3w6Bx1wBaiCBzweOT7bQ&usqp=CAU" class="card-img-top"
                alt="..."height="250px" />
                
                <p>Price 1000 RS  <br>STOCK  avalable</p>
              
                <a href="" class="btn btn-success ">Buy Now</a> 
              </div>

        </div>
     
        <div class ="col-md-3">
            <div class="card" >
                <img src="https://www.handletheheat.com/wp-content/uploads/2015/03/Best-Birthday-Cake-with-milk-chocolate-buttercream-SQUARE.jpg" class="card-img-top"
                alt="..."height="250px" />
                
                <p>Price 1000 RS  <br>STOCK  avalable</p>
              
                <a href="" class="btn btn-success ">Buy Now</a> 
              </div>

        </div>
     
    </div>
</div>

<div class ="container">
    <div class ="row">
        <div class ="col-md-3">
            <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5pQY0RiSgT4EHPFr_r8V9BsEH0X2-wD4rJw&usqp=CAU" className="card-img-top"
        alt="..." height="250px" />
        <!-- <h1><i class="fab fa-node-js ">Yamii Foods </i></h1> -->
        <p>Price 2100 RS    <br>STOCK  avalable</p>
        <a href="" class="btn btn-success ">Buy Now</a> 
      </div>
    </div>
    </div>
</div>
<!--     </div>
  </div> -->